<header>
    <a routerLink="calculadora">Calculadora</a>
    <a routerLink="lista-pessoas">Lista de Pessoas</a>
    <a routerLink="calculadora-retangulo">Calc Retangulo</a>
    <a routerLink="calculadora-media">Calc Media</a>
    <a routerLink="calculadora-temperatura">Calc Temperatura</a>
    <a routerLink="lista-tarefas">Lista de tarefas</a>
    <a routerLink="alunos">Alunos</a>
    <a routerLink="turmas">Turmas</a>
    <a routerLink="materias">Materias</a>
    <a routerLink="professores">Professores</a>
</header>
