<div class="botao-cadastro">
    <a routerLink="/turmas/cadastro" class="btn-cadastrar">Cadastrar</a>
  </div>
  
  <table class="tabela-turmas">
    <thead>
      <tr>
        <th>Turmas</th>
        <th>Sigla</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (turma of turmas; track turma) {
        <tr>
          <td>{{ turma.nome }}</td>
          <td>{{ turma.sigla }}</td>
          <td>
            <button (click)="editar(turma)">Editar</button>
            <button (click)="apagar(turma)">Apagar</button>
          </td>
        </tr>
      }
    </tbody>
  </table>  