<h2>Converter Temperatura</h2>

<label for="temperatura">Temperatura</label>
<input type="number" id="temperatura" placeholder="Digite a temperatura" [(ngModel)]="valor">
<br><br>

<button (click)="kelvinFahrenheit()">Transformar de kelvin para fahrenheit</button>
<br>
<button (click)="fahrenheitKelvin()">Transformar de fahrenheit para kelvin</button>
<br>
<button (click)="kelvinCelsius()">Transformar de kelvin para Celsius</button>
<br>
<button (click)="celsiusKelvin()">Transformar de celsius para kelvin</button>
<br>
<button (click)="fahrenheitCelsius()">Transformar de fahrenheit para celsius</button>
<br>
<button (click)="celsiusFahrenheit()">Transformar de celsius para fahrenheit</button>